<div class="section">
  <div class="row">
    <div class="col offset-l1 l5 s12">
      <div  class="section scrollspy">
        <h3>A Free App/ Site Previewer?</h3>
        <p class="caption">
          Yes! Heres a free directive, use it however you like, and just <a href="mailto:development.lunar@gmail.com">Email me</a> if you have any questions or suggestions! 
        </p>
        <p>
          And if you do use this then linkbacks to the <a href="">Repo</a> or <a>My Site</a> would be greatley appreciated!
        </p>
        <p>Or click a category to discover more.</p>
        <ul class="collapsible popout collapsible-accordion" data-collapsible="accordion">
          <li class="active">
            <div class="collapsible-header waves-effect waves-purple active"><i class="material-icons purple-text">code</i>Multi-Platform</div>
            <div class="collapsible-body" style="display: none;">
              <p>With a mobile preview window!</p>
            </div>
          </li>
          <li >
            <div class="collapsible-header waves-effect waves-purple "><i class="material-icons green-text">add_shopping_cart</i>Increase Sales</div>
            <div class="collapsible-body active" style="display: none;">
              <p>With a mobile preview window!</p>
            </div>
          </li>
          <li>
            <div class="collapsible-header waves-effect waves-purple"><i class="material-icons amber-text">trending_up</i>User Analysis</div>
            <div class="collapsible-body" style="">
              <p>
                With a mobile preview window!</p>
            </div>
          </li>
          <li class="">
            <div class="collapsible-header waves-effect waves-purple"><i class="material-icons blue-text">share</i>Connect</div>
            <div class="collapsible-body" style="display: none;">
              <p>With a mobile preview window! </p>
            </div>
          </li>
          <li class="">
            <div class="collapsible-header waves-effect waves-purple"><i class="material-icons brown-text">work</i>Build Brand</div>
            <div class="collapsible-body" style="display: none;">
              <p>With a mobile preview window!</p>
            </div>
          </li>
          <li class="">
            <div class="collapsible-header waves-effect waves-purple"><i class="material-icons teal-text">contact_phone</i>Drive Inbound</div>
            <div class="collapsible-body" style="display: none;">
              <p>With a mobile preview window!</p>
            </div>
          </li>
          <li class="">
            <div class="collapsible-header waves-effect waves-purple"><i class="material-icons deep-orange-text text-darken-3">gesture</i>Highly Responsive</div>
            <div class="collapsible-body" style="display: none;">
              <p>With a mobile preview window!</p>
            </div>
          </li>
          
        </ul>
      </div>
    </div>
    <div class="col l5 s12 padding-top3 hide-on-med-and-down">
      <div  class="section scrollspy">
        <h3>Take a looksy!</h3>
        <p class="caption">
        </p>
      </div>
      <div class="card-panel z-depth-2">
        <!--<div id="phone-preview"></div>-->
        <phone-preview obj="main.phoneSettings"></phone-preview>
      </div>
    </div>
    <div class="col l5 s12 padding-top3 hide-on-large-only">
      <div  class="section scrollspy">
        <h3>Try One Of Our Apps</h3>
        <div class="card-panel z-depth-2">
          <p class="caption">
            You can see a web based demo of an app <a href="http://www.emaildatabases.co.uk/apps/meridiandelta/www/">here</a> 
          </p>
          <p>Alternativley, you can dowload our app for <a href="ANDROIDAPPSTORE">Android</a> or <a href="IOSAPPSTORE">iOS</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>